
<html >
<head>
  <script src="../angular_state/angular.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/angular-chart.js"></script>

  <script src="js/moduleApp.js"></script>
  <script src="js/chartServic.js"></script>
  <script src="js/TodoListCtrl.js"></script>

  <style type="text/css">
    #data{
      width:50%;
      height: 400px;
    }
  </style>
  <link rel="stylesheet" href="css/angular-chart.css">
</head>
<!-- width='5px' height='1px' -->
<body ng-app="todoApp">
  <div ng-controller="TodoListController as vm" >
<!--START  line-->
  <!--   <div id="data">
      <canvas id="line" 
      class="chart chart-line" 
      chart-data="data.data"
      chart-labels="data.labels" 
      chart-series="data.series"
      chart-legend="true" 
      chart-click="onClick">
    </canvas> 
  </div> -->
<!--END  line-->
<!--START  bar-->
<!-- <div id="data">
    <canvas id="bar" 
    class="chart chart-bar"
    chart-data="data.data" 
    chart-labels="data.labels" 
    chart-series="data.series">
  </canvas>
</div> -->
<!--END  bar-->

<!--START  radar-->
<!-- <div id="data">
  <canvas id="radar" 
  class="chart chart-radar"
  chart-data="data.data" 
  chart-labels="data.labels">
</canvas> 
</div> -->
<!--END radar-->
<select ng-model="t1" ng-change="vm.data.dis(t1)">
  <option>line</option>
  <option>bar</option>
  <option>radar</option>
  {{t1}}
</select >
<div ng-if="vm.data.show=='line'"> 

    <div id="data">
      <canvas id="line" 
      class="chart chart-line" 
      chart-data="vm.data.initData.data"
      chart-labels="vm.data.initData.labels" 
      chart-series="vm.data.initData.series"
      chart-legend="true" 
      chart-click="onClick">
    </canvas> 
  </div>

 </div>
<div ng-if="vm.data.show=='bar'"> 
<div id="data">
    <canvas id="bar" 
    class="chart chart-bar"
    chart-data="vm.data.initData.data" 
    chart-labels="vm.data.initData.labels" 
    chart-series="vm.data.initData.series">
  </canvas>
</div>
 </div>
<div ng-if="vm.data.show=='radar'"> 
<div id="data">
  <canvas id="radar" 
  class="chart chart-radar"
  chart-data="vm.data.initData.data" 
  chart-series="vm.data.initData.series"
  chart-labels="vm.data.initData.labels">
</canvas> 
</div>

 </div>
</div>
</body>
</html>








