<link rel="stylesheet" href="material.min.css">
<script src="material.min.js"></script>
<div id="p1" class="mdl-progress mdl-js-progress"></div>
<script>
  document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
    this.MaterialProgress.setProgress(44);
  });
</script>


<div id="p3" class="mdl-progress mdl-js-progress"></div>
<script>

</script>



          
<body>
      <div class="container" >

<!-- style="border:1px solid #ccc" -->


<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Text...</label>
  </div>
</form>
<!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
    <label class="mdl-textfield__label" for="sample2">Number...</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

 <div class="row" >
      <div class="col s12">This div is 12-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
    </div>
      </div>

<div class="valign-wrapper">
  <h5 class="valign">This should be vertically aligned</h5>
</div>
  <div class="collection">
    <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
    <a href="#!" class="collection-item">Alan<span class="new badge">4</span></a>
    <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item">Alan<span class="badge">14</span></a>
  </div>
</body>
          