<div> 





<div class="row">
  <div class="col-md-4">
  	<!-- start -->
  	<div class="alert alert-danger" role="alert">
	<h3>state cal by ui-sref
 <span class="label label-default">
 	<a  style="color:#fff" ui-sref="home.show">Show List</a>
 </span>
 </h3>

</div>
<div class="alert alert-danger" role="alert">
	<h3>state cal by ui-sref and Id
	 <span class="label label-default">
	<a href="#/home/showById/1" style="color:#fff"> main </a>
	</span>
	</h3>
</div>

<div class="alert alert-danger" role="alert">
	<h3>state cal by ui-sref and Id
	 <span class="label label-default">
			<a href="#/home/showById/1" style="color:#fff"> main </a>
	</span>
	</h3>
</div>

<div class="alert alert-danger" role="alert">
<h3>state cal by button </h3> 
<button type="button" class="btn btn-info" ng-click="showByIdFun()">showByIdFun</button><br>
<input type="button" ng-click="otherShowByIdFun()"  value="otherShowByIdFun" />
</div>

  	<!-- end -->
  </div>
  <div class="col-md-8"><ui-view></ui-view></div>
</div>


</div>




