<script src="http://maps.google.com/maps/api/js"></script>
<script src="gmaps.js"></script>

 

 
  <body>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <script>
 function initAutocomplete() {
  
  
  
  
   var input = document.getElementById('pac-input');
   
   
    var searchBox = new google.maps.places.SearchBox(input);
	map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

	  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });
  
}
initAutocomplete();

  </script>
  </body>
   