<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../angular_state/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script>
	angular.module("myApp",[])
	.controller("myCtrl",myCtrl);
	myCtrl.$inject=['$scope'];
	function myCtrl($scope)
	{
		var vm=this;
		vm.data={
			t1:"123",
			show:show,
			valid:false,
		};
		function show()
		{
//			document.getElementById("#t1").focus();
			//document.getElementsByName("t1").focus();
			var o1={a1:123};
			var o2={a1:123};
			var x=angular.equals(o1, o2);
			console.log(size(o1));
		}
		   $scope.$watch('myForm.$valid', function(newVal) {
            vm.data.valid=newVal;
        });

	}
	</script>
	<style type="text/css">
	.a1{
		background-color: red;
	}
	</style>
	</head>
<body ng-app="myApp">
<div ng-controller="myCtrl as vm">
	<form name="myForm">
	<div class="form-group has-error">
  		<input type="text" 
		ng-model="vm.data.t1" 
		required name="t1" 
		ng-minlength="3" 
		id="" 
		ng-class="{a1:!myForm.t1.$valid}">		
				</div>

				ng-class="{a1:!myForm.t1.$valid}"

		
		<h1 ng-if="myForm.t1.$valid==false"> sdfaasdfdfs </h1>
		<input type="text" ng-model="vm.data.t2" required name="t2">
		<input type="button"  name="b1" value="show" ng-click="vm.data.show()">
		{{vm.data.t1}}<br>
		{{vm.data.valid}}<br>
		{{myForm.t1.$valid}}<br>
		{{myForm}}<br>
<!-- -->
		<div ng-class="{'form-group has-error':!myForm.t2.$valid}">
  			<label class="control-label" for="inputError1">Input with error</label>
  			<input type="text" class="form-control" id="inputError1" ng-model="vm.data.t2">
		</div>	
	</form>
</div>
</body>
</html>