 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
 </script>

<script>

	angular.module('myApp',[])
	.controller('myCtrl',function($scope,$q){

		$scope.vm={
			show:show,
		};
		function deff(name)
		{
			var deferred = $q.defer();
			if(name)
			 deferred.resolve('Hello, ' + name + '!');
			else
			deferred.reject('Greeting ' + name + ' is not allowed.');
			return deferred.promise;
		}

		function show(name)
		{
			deff(name).then(function(resp){
				console.log(resp);
			},function(error){
				console.log(error);
			});
		}
	});

</script>
<body ng-app="myApp">
<div ng-controller="myCtrl">
	<input type="button" value="ok" ng-click="vm.show('dhananjay')" >
</div>
</body>