<html>
<head>
	<title></title>
	<script type="text/javascript" src="../angular_state/angular.min.js"></script>

	<script>
	angular.module("myApp",[])
	.controller("myCtrl",myCtrl);
	myCtrl.$inject=['$scope','$http'];
	function myCtrl($scope,$http)
	{
			var vm=this;
			vm.ser={
				postDemo:postDemo,
			};
			function postDemo()
			{
				var data={login_lat:1.456,login_long:1.123};
				$http.post('http://demo.d1.local/Users/dis',data)
				.success(function(resp){
						console.log(resp);
				}).error(function(resp){
						console.log(resp);
				});
			}
				


	}
	</script>

	</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl as vm">
			<button ng-click="vm.ser.postDemo()">post</button>
	<!--


SELECT orders.id, (SELECT  message FROM driver_notes WHERE order_id = orders.id order by created_at desc LIMIT 1) as message, 
orders.fname, orders.total, orders.tip, orders.created, orders.preorder_date, orders.preorder_time,
orders.phone, orders.Order_Delivery_Status, orders.payment_mode, orders.delivery, orders.lat, orders.long,  
orders.is_third_party, orders.extras_price, restaurant.Name, restaurant.phone, restaurant.city, restaurant.longitude,
 restaurant.latitude FROM orders  
 INNER JOIN 
 restaurant ON orders.restaurant_id = restaurant.id 
 WHERE orders.order_status != 'Cancelled' AND orders.Order_Delivery_Status !=  'Not Required' 
 AND 
 orders.Order_Delivery_Status !=  'Delivered' GROUP BY orders.created DESC LIMIT 0, 10



SELECT `id`, `name`, `username`, `username`, `city`, `lat`, `lon`, `current_status`, `session_id`, `status`, 
`updated_at`, `login_lat`, `login_long`, `logout_lat`, `logout_long`, `current_lat`, `current_long` FROM `drivers` WHERE 1


SELECT `id`, `order_id`, `driver_id`, `message`, `created_at` FROM `driver_notes` WHERE 1



select drivers.name,drivers.username,drivers.username ,driver_notes.message FROM drivers INNER JOIN driver_notes ON drivers.id=driver_notes.driver_id

select drivers.name,drivers.username,drivers.username ,driver_notes.message FROM drivers,driver_notes where drivers.id=driver_notes.driver_id
	-->
</body>
</html>

