 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
 </script>

<script>

	angular.module('myApp',[])
	.controller('myCtrl',function($scope){
		$scope.data={};
		$scope.show=show;
		var data={};
		function show()
		{
	
		data[$scope.data.key]=$scope.data.value;
		console.log(data);
		}
		
	});
	

</script>
<body ng-app="myApp">
<div ng-controller="myCtrl">
	{{data.dis}}
	<input type="text" ng-model="data.key"><br>
	<input type="text" ng-model="data.value"><br>
	<input type="button" value="ok" ng-click="show()" >
</div>
</body>