
<html>
  <head>
    <title>Angular Card Input</title>
    <script src="angular.min.js"></script>
    <script>
    angular.module("app",[])
    .controller("myCtrl",function($scope){
    	$scope.data={};
    	$scope.show=show;
    	function show(data){
    		console.log(data);
    	}
    });
    </script>
  </head>
  <body ng-app="app">
  <div ng-controller="myCtrl">
  <form name="fname" ng-submit="show(fname)">
  	<input type="text" 
  	name="t1" 
  	ng-model="data.t1" 
  	 ng-maxlength="5"
  	 ng-minlength="5"
  	 maxlength="5"
  onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode <= 0"
  	required>
  	<input type="button" ng-click="show()" value="ok456"></input>{{fname.t1.$valid}}
 	<button type="submit">submit</button>
  </form>
  {{fname}}
  </div>

  </body>
  </html>
